{% extends "base.html.twig" %}

{% block body %}

    <div class="container mt-3 mx-0">
        <div class="d-flex flex-column align-items-start">
            <h2>Welcome</h2>
            <p>You are on the details page</p>
        </div>
    </div>

{% endblock %}
